/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor.*
.env
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.php-cs-fixer.cache
/public/apidoc
/public/admin/apidoc
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.DS_Store
/log
supervisord.log
/logs/**
supervisord.pid